h1 {
  color: red;
}

.img_Padding {
 padding: 5%;
 background-color: green;
 width: 48%;
}

.btn-one {
  background-color: lightgray;
  border-radius: 25px;
}
.btn-one:hover {
  color: red;
  padding: 2%;
  background-color: black;
}